<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Happy_Vue.js</title>

</head>
<body>
	<div id="app">
		<h1>あいうえお{{message.value}}</h1>
		<p>{{message.value.length}}</p>
		<input v-model="message.value">
		<p>{{message.value.length >= 10 ? '10文字以上' : '10文字未満'}}</p>
		<p>{{Math.round(3.14)}}</p>
		<p>{{list[1]}}</p>
		<p>{{list[num]}}</p>
		<input type="text" v-bind:value="message.value">
	</div>

	<ol id="fruit">
		<li v-for="item in list">{{item}}</li>
	</ol>

	<div id="click">
		<button v-on:click="handleClick">Click!</button>
	</div>

	<div id="show">
		<p v-if="show">にゃんこ。</p>
	</div>

	<div id="app2">
		<button v-on:click="show=!show">切り替え</button>
		<transition>
			<p v-if="show">さくらだよ♪</p>
		</transition>
		<div v-bind:text-content.prop="message"></div>
		<div v-bind:scroll-top.prop="scroll"></div>
		<pre>{{$data}}</pre>
	</div>

	<div id="count-up">
		<p>{{count}}回クリックしたよん!</p>
		<button v-on:click="increment">カウントを増やす</button>
	</div>

	<!-- <div id="app3">
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
			<circle cx="1000" cy="75" v-bind:r="radius" fill="lightpink" />
		</svg>
		<input type="range" min="0" max="100" v-model="radius">
	</div> -->
	
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>